# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Terraform
**/.terraform/
**/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan

# Sensitive
terraform/terraform.tfvars
